body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #041C32;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ECB365;
}

p {
  color: #ECB365;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* Buttons */

.btn {
  margin: 5% 3% 5% 0;
}

/* Title */

.big-heading {
  font-size: 3rem;
  padding: 10px;
}

.small-heading {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

.underline-text {
  text-decoration: underline;
}

.profile-picture {
  width: 15%;
  margin-top: 50px;
}

/* Skills Section */

.skill-row1 {
  text-align: left;
}

.skill-row2 {
  text-align: right;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }


  .title-image {
    position: static;
    transform: rotate(0);
  }
}